<!doctype html>
<html>
<head>
<title>dankmems: Memes are Dreams</title>
<!--<link rel="stylesheet" href="Home.css">-->
<style>
    .header{
    background-color: black;
    box-shadow: 0 1px 0px rgba(0,0,0,.2);
    height:50px;
}

body {
    font: Helvetica Nueue;
    font-family: sans-serif;
    background-color: #E6ECF0;
/*
    height: 100%;
    width: 100%;
*/
}

.nav {
    width: 300px;
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("./imgs/background.jpeg")
}

.tags:hover{
    color:deepskyblue;
}

.poster{
    font-family: sans-serif;
    margin-left: 0px;
    font-size: 15px;
    height: 0px;
}
    
.posterbold {
    font-family: sans-serif;
    margin-left: 0px;
    font-size: 15px;
    height: 0px;
    font-weight: bold;
}

.timestamp{
    font-family: sans-serif;
    margin-left: 0px;
    font-size: 11px;
    height: 0px;
} 

label{
    font-weight: bold;
}

img{
    padding-top: 20px;
    max-width: 650px;
    max-height: 650px;
}

.main{
    background-color: white;
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

footer{
    background-color: white;
    width: 1000px;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.tags{
    color: dodgerblue;
    font-weight: bold;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
}

.footerlist {
    font-weight: bold;
    color: black;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
}

.footeritem {
    color: black;
    margin-left: auto
    padding: 20px;
    display: inline-block;
    cursor: pointer;
}

.footer {
    background-color: white;
}


.home, .trend, .taglist{
    margin: 10px;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 5px;
    font-family: "Comic Sans MS";
    left: 150px;
}

a{
    text-decoration: none;
}


.trend{
    left: 350px;
}

.taglist{
       left: 550px;
}

.home:hover, .taglist:hover, .trend:hover, .footerlist:hover{
    color:gainsboro;
    cursor: pointer;
}

.profile{
    color: white;
    background-color: rgb(0, 110, 239);
    padding: 9px 13px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 14px;
    text-decoration: none;
}

.register:hover{
    color: gainsboro;
    cursor: pointer;
}


.logout{
    color:white;
    float: right;
    padding: 5px;
    position: absolute;
    right: 130px;
    top: 16px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.logout:hover{
    cursor: pointer;
    color: gainsboro;
}


.post{
    border-bottom: 0.5px #E6ECF0 solid;
    padding: 20px;
}

.title{
    margin-left: -2px;
    font-size: x-large;
    font-weight: 700;
    font-family: sans-serif;
    margin-top: 0px;
}

footer ul {
  list-style: none;
  display: block;
  float: left;
}
footer h3 {
  font-weight: 100;
  margin-bottom: 0;
}
    
.bottombuttons {
  margin-left: 30px;      
}

.lastbutton {
  margin-left: 30px;
  margin-right: 25px;
}
    
.likes {
  font-size: 12px;      
}   

.remove {
    display: none;    
}
    
.username{
    color:white;
    float: right;
    padding: 5px;
    position: absolute;
    right: 300px;
    top: 16px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
    

</style>
</head>
<%
    var remove;
    if(data.list.length <= 15){
        remove= 'remove'
    } else{
        remove = 'seemore';
        console.log("Length of list: " + data.list.length)
    }
    
    var publicPosts = 0;
    
    for(var x=0; x<data.list.length; x++){
        if(data.list[x].privacy === 'Public'){
            publicPosts++;
        }
            else if(data.list[x].privacy === 'Private' && data.list[x].shareuser != undefined && data.list[x].shareuser.includes(user)){
                    publicPosts++;
            } else if(data.list[x].privacy === 'Private' && data.list[x].shareuser != undefined && data.list[x].uploadedBy === user){
                publicPosts++;
            }
            
    }
    
    
%>
<body>
<div class="container">
    <div class="header">
    <nav class="nav">
        <span><a href="/home" class="home">dankmems</a></span>
        <span><a href="/home" class="trend">on firee</a></span>
        <span><a href="/tags" class="taglist">tags</a></span>
        <span><a href='/profile' class="username">User: <%=user%></a></span>
        <span><a href="/logout" class="logout">Log out</a></span>
        <span><a href="/profile" class="profile" >Profile</a></span>
    </nav>
    
</div>
<div class="main">
    <%if(publicPosts <= 15) {%>
    <% for(var i=(data.list.length-1);i>=0;i--){ %>
       <% if (data.list[i].privacy === 'Public'){%>
         <%- include('./post', {
            title: data.list[i].title,
            picture: data.list[i].picture,
            tags: data.list[i].tags,
            uploadedBy: data.list[i].uploadedBy,
            timestamp: data.list[i].timestamp,
            likes: data.list[i].likes,
            user: user,
      }); %>
        <% for(var j=(data.list[i].tags.length-1);j>=0;j--) { %>
            <%- include('./tags-row', {
                tag: data.list[i].tags[j],
        }); %>
    
        <% } %>
<!--    </div>-->
        <% } else if (data.list[i].privacy === 'Private') {%>
            <% console.log(data.list[i].shareuser) %>
            
            
            <% if (data.list[i].shareuser != undefined && data.list[i].uploadedBy === user) { %>
                <% console.log(data.list[i].title + " shareduser is " + data.list[i].shareuser) %>
                <%- include('./post', {
                title: data.list[i].title,
                picture: data.list[i].picture,
                tags: data.list[i].tags,
                uploadedBy: data.list[i].uploadedBy,
                timestamp: data.list[i].timestamp,
                likes: data.list[i].likes,
                user: user,
                }); %>
            <% for(var j=(data.list[i].tags.length-1);j>=0;j--) { %>
                <%- include('./tags-row', {
                    tag: data.list[i].tags[j],
                }); %>
            <% } %>
<!--    </div>-->

    
          <% } else if (data.list[i].shareuser != undefined && data.list[i].shareuser.includes(user)) { %>
            
            <%- include('./post', {
            title: data.list[i].title,
            picture: data.list[i].picture,
            tags: data.list[i].tags,
            uploadedBy: data.list[i].uploadedBy,
            timestamp: data.list[i].timestamp,
            likes: data.list[i].likes,
            user: user,
      }); %>
        <% for(var j=(data.list[i].tags.length-1);j>=0;j--) { %>
            <%- include('./tags-row', {
                tag: data.list[i].tags[j],
        }); %>
        <% } %>
        
    <% } %>
    
<% } %>
    </div>
<% } %> 
    <% } else{ %>
        <% for(var i=(data.list.length-1);i>=(data.list.length-15);i--){ %>
       <% if (data.list[i].privacy === 'Public'){%>
         <%- include('./post', {
            title: data.list[i].title,
            picture: data.list[i].picture,
            tags: data.list[i].tags,
            uploadedBy: data.list[i].uploadedBy,
            timestamp: data.list[i].timestamp,
            likes: data.list[i].likes,
            user: user,
      }); %>
        <% for(var j=(data.list[i].tags.length-1);j>=0;j--) { %>
            <%- include('./tags-row', {
                tag: data.list[i].tags[j],
        }); %>
    
        <% } %>
<!--    </div>-->
        <% } else if (data.list[i].privacy === 'Private') {%>
            <% console.log(data.list[i].shareuser) %>
            
            
            <% if (data.list[i].shareuser != undefined && data.list[i].uploadedBy === user) { %>
                <% console.log(data.list[i].title + " shareduser is " + data.list[i].shareuser) %>
                <%- include('./post', {
                title: data.list[i].title,
                picture: data.list[i].picture,
                tags: data.list[i].tags,
                uploadedBy: data.list[i].uploadedBy,
                timestamp: data.list[i].timestamp,
                likes: data.list[i].likes,
                user: user,
                }); %>
            <% for(var j=(data.list[i].tags.length-1);j>=0;j--) { %>
                <%- include('./tags-row', {
                    tag: data.list[i].tags[j],
                }); %>
            <% } %>
<!--    </div>-->

    
          <% } else if (data.list[i].shareuser != undefined && data.list[i].shareuser.includes(user)) { %>
            
            <%- include('./post', {
            title: data.list[i].title,
            picture: data.list[i].picture,
            tags: data.list[i].tags,
            uploadedBy: data.list[i].uploadedBy,
            timestamp: data.list[i].timestamp,
            likes: data.list[i].likes,
            user: user,
      }); %>
        <% for(var j=(data.list[i].tags.length-1);j>=0;j--) { %>
            <%- include('./tags-row', {
                tag: data.list[i].tags[j],
        }); %>
        <% } %>
        
    <% } %>
    
<% } %>
    </div>
<% } %> 
    <% } %>
    
    <div class=<%=remove%>><a href="/view-all" class="seemoretxt">See More</a></div>  
    
</div>
</div>
</body>
</html>
