
<% var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

   var minutes;

   if (timestamp.getMinutes() < 10)
       minutes = '0' + timestamp.getMinutes();
   else
       minutes = timestamp.getMinutes();

var remove;
if (uploadedBy === user)
    remove = 'remove';
else {
    remove = '';
    console.log("User in post: " + user);
}

//so that users cannot like their own posts


%>

<div class='post'>
    <div>
        <span class='title'><%=title%></span>
    </div>
    <div>
        <br>

        <div>
            <span class='poster' id = <%=uploadedBy%>> by: <span class='posterbold'><a href ='/user-profile?id=<%=uploadedBy %>'><%=uploadedBy%></a></span></span>
        </div>
        <div>
            <span class = 'timestamp'>Published on <%=months[timestamp.getMonth()]%> <%=timestamp.getDate()%>, <%=timestamp.getFullYear()%> at <%=timestamp.getHours()%>:<%=minutes%> </span>
        </div>

    </div>
    <div>
        <a href ="/viewbig?id=<%=picture %>,<%=title%>">
            <img id='<%=picture %>' src ='./upload/<%=picture %>'/></a>
    </div>
    
    <div>
        <span class=<%=remove%>><input class='bottombutton' type="button" value='Like'></span>
        <span><input type="button" class='bottombuttons' value='Share'></span>
        <span><input type="button" class='lastbutton' value='Comment'></span>
    </div>
    <br><span class='likes'>Likes: <%=likes%></span><br>
    <label>Tags:</label>


