
<% var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>

<div class='post'>
    <div>
        <span class='title'><%=title%></span>
    </div>
    <div>
        <br>

        <div>
            <span class='poster' id = <%=uploadedBy%>> by: <span class='posterbold'><a href ='/user-profile?id=<%=uploadedBy %>'><%=uploadedBy%></a></span></span>
        </div>
        <div>
            <span class = 'timestamp'>Published on <%=months[timestamp.getMonth()]%> <%=timestamp.getDate()%>, <%=timestamp.getFullYear()%></span>
        </div>

    </div>
    <div>
        <a href ="/viewbig?id=<%=picture %>,<%=title%>">
            <img id='<%=picture %>' src ='./upload/<%=picture %>'/></a>
    </div>
    
    <div><input class='bottombutton' type="button" value='Like'><input type="button" class='bottombuttons' value='Share'><input type="button" class='lastbutton' value='Comment'></div>
    <br><span class='likes'>Likes: <%=likes%></span><br>
    <label>Tags:</label>


