<div class='post'>
    <div>
        <span class='title'><%=title%></span>
    </div>
    <div>
        <br/>
        <span class='poster'>User</span>

    </div>
    <div>
        <a href ="/viewbig?id=<%=picture %>,<%=title%>">
            <img id='<%=picture %>' src = 'images/<%=picture %>'/></a>
    </div>
    
    
    <label>Tags:</label>


